
	<!-- <span class="ds-thread-count" data-thread-key="{{ page.id }}" data-count-type="comments"></span> -->
  
<!-- 多说评论框 start -->

	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="http://blog.nuoluan.com{{ page.url }}"></div>
<!-- 多说评论框 end -->
	<ul class="ds-recent-visitors" data-num-items="20"></ul> 

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script src="{{ site.baseurl }}/assets/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript">
		// console.log("{{page.id}}");
		if ("{{page.id}}"=="") {
			$('.ds-thread').attr('data-thread-key','index');
		};

		var duoshuoQuery = {short_name:"nuoluanblog"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();

	</script>
<!-- 多说公共JS代码 end -->